<!-- -->
<ion-content padding class="profiles-bg">
	<div class="auth-content">

		<!-- Logo -->
		<div padding-horizontal text-center>
			<div class="logo">
				<img src="assets/img/foodIonic-ico.png">
			</div>
			<h2 ion-text class="text-secondary" no-margin>
				<strong>Trocco</strong>
			</h2>
		</div>

		<div>
			<!-- Login form -->
			<div id="loginForm">
				<form [formGroup]="onLoginForm" class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="mail" item-start class="text-white"></ion-icon>
							Email
						</ion-label>
						<ion-input type="email" formControlName="email"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">This field is required</p>

					<ion-item>
						<ion-label floating>
							<ion-icon name="lock" item-start class="text-white"></ion-icon>
							Password
						</ion-label>
						<ion-input type="password" formControlName="password"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">This field is required</p>
				</form>

				<p text-right ion-text color="light" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>

				<div>
					<button ion-button icon-start block color="secondary" (click)="login()" [disabled]="!onLoginForm.valid">
						<ion-icon name="log-in"></ion-icon>
						SIGN IN
					</button>
				</div>
			</div>
		</div>
	</div>
</ion-content>
