<ion-header>
  <ion-navbar>
    <ion-title>Orders Lobby</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col col-4>
				<ion-list>
					<ion-item *ngFor="let order of guests">
						<ion-avatar item-start>
							<img src="{{order.photoUrl}}" />
						</ion-avatar>
						<h2 ion-text color="dark" class="fw700">
							{{ order.displayName }} - {{order.rg}}
						</h2>
						<button ion-button (click)="openGuestModal(order)">
							Abrir comanda
						</button>
					</ion-item>
				
					<ion-item no-padding *ngIf="guests.length == 0">
						<h2 ion-text color="dark" class="fw500">Nenhum item</h2>
					</ion-item>
				</ion-list>
			</ion-col>

			<ion-col col-4>
				<ion-list>
					<ion-item *ngFor="let order of activeOrders">
						<ion-avatar item-start>
							<img src="{{order.photoUrl}}" />
						</ion-avatar>
						<h2 ion-text color="dark" class="fw700">
							{{ order.displayName }} - {{order.custom_id}}
						</h2>
						<button ion-button (click)="openActiveOrderModal(order)">
							Ver comanda
						</button>
					</ion-item>
				
					<ion-item no-padding *ngIf="activeOrders.length == 0">
						<h2 ion-text color="dark" class="fw500">Nenhum item</h2>
					</ion-item>
				</ion-list>
			</ion-col>

			<ion-col col-4>
				<ion-list>
					<ion-item *ngFor="let order of finishedOrders">
						<ion-avatar item-start>
							<img src="{{order.photoUrl}}" />
						</ion-avatar>
						<h2 ion-text color="dark" class="fw700">
							{{ order.displayName }} - {{order.custom_id}}
						</h2>
						<button ion-button (click)="openFinishedOrderModal(order)">
							Ver comanda
						</button>
					</ion-item>
				
					<ion-item no-padding *ngIf="finishedOrders.length == 0">
						<h2 ion-text color="dark" class="fw500">Nenhum item</h2>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
