<ion-header>
  <ion-navbar>
    <ion-title>Orders Lobby</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-segment [(ngModel)]="menuopts" padding-horizontal>
					<ion-segment-button value="waiting">
						Aguardando
					</ion-segment-button>
					<ion-segment-button value="active">
						Ativas
					</ion-segment-button>
					<ion-segment-button value="done">
						Encerradas
					</ion-segment-button>
				</ion-segment>

				<div [ngSwitch]="menuopts" padding>
					<div *ngSwitchCase="'waiting'">
						<ion-list>
							<ion-item no-padding *ngFor="let order of guests" tapplable (click)="openGuestModal(order)">
								<h2 ion-text color="dark" class="fw500">{{order.displayName}}</h2>
							</ion-item>

							<ion-item no-padding *ngIf="guests.length == 0">
								<h2 ion-text color="dark" class="fw500">Nenhum item</h2>
							</ion-item>
						</ion-list>
					</div>

					<div *ngSwitchCase="'active'">
						<ion-list>
							<ion-item no-padding *ngFor="let order of activeOrders" tapplable (click)="openActiveOrderModal(order)">
								<h2 ion-text color="dark" class="fw500">{{order.custom_id}}</h2>
							</ion-item>

							<ion-item no-padding *ngIf="activeOrders.length == 0">
								<h2 ion-text color="dark" class="fw500">Nenhum item</h2>
							</ion-item>
						</ion-list>
					</div>

					<div *ngSwitchCase="'done'">
						<ion-list>
							<ion-item no-padding *ngFor="let order of finishedOrders" tapplable (click)="openFinishedOrderModal(order)">
								<h2 ion-text color="dark" class="fw500">{{order.custom_id}}</h2>
							</ion-item>

							<ion-item no-padding *ngIf="finishedOrders.length == 0">
								<h2 ion-text color="dark" class="fw500">Nenhum item</h2>
							</ion-item>
						</ion-list>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
